.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    background-color: royalblue;
  }

  .register {
    align-self: center;
    align-content: flex-end;
  }
  
  
  .NavBar-Sports-link {
    align-self: center;
    align-content: flex-end;
  }
  
  .h1-title,
  .NavBar-link,
  .NavBar-Sports-link {
    margin: 0 10px;
    font-size: 25px;
    color: seashell;
    align-self: center;
  }
  
  .h1-title {
    font-size: 35px;
    font-family: 'Black Ops One', cursive;
  }


  .NavBar-welcome {
    color: grey;
  }